<mat-card-title [ngClass]="{ 'strike-out': !item.active }">
  {{ item.title || 'missing title' }}
</mat-card-title>

<mat-card-content>
  Task Active?: {{ item.active }}<br>
  {{ item.timeStamp | date: 'medium' }}
</mat-card-content>

<mat-card-footer padd-10>
  <button mat-raised-button color="primary" (click)='updateTimeStamp()'>Update Timestamp</button>
  <button mat-raised-button color="accent" *ngIf='item.active' (click)='updateActive(false)'>Mark Complete</button>
  <button mat-raised-button color="accent" *ngIf='!item.active' (click)='updateActive(true)'>Mark Incomplete</button>
  <button mat-raised-button color="warn" (click)='deleteItem()'>Delete</button>
</mat-card-footer>

